@import 'reset';

$blue: rgba(89, 117, 156, .8);
$brown: rgba(161, 111, 88, 1);
$light-brown: rgba(211, 178, 149, .5);
$dark-brown: rgba(36, 22, 22, .2);
$white: rgba(255, 255, 255, 1);
$pale-white: rgba(160, 160, 160, .2);
$extra-pale-white: rgba(255, 255, 255, .75);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

// App Containers and header bars

#root {
  background-image: image-url("trucks.png");
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 900px;
  max-width: 90vw;
  padding-left: 45px;
  padding-right: 45px;
  background-color: $extra-pale-white;
}

#page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#app-body {
  background-color: $pale-white;
  display: flex;
}

#topbar-container{
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  background-image: image-url("plate.jpg");
  background-size: cover;
  background-position: center;
  width: 870px;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}

#map-container {
  width: 500px;
  height: 500px;
  margin: 10px;
  box-shadow: -7px 7px 5px $dark-brown;
}

// Truck index

#truck-index-container-container {
  width: 350px;
  height: 520px;
  overflow: hidden;
  padding: 10px;
  border-left: 1px solid $dark-brown;
  box-sizing: border-box;
}

#truck-index-container {
  width: 208%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  transition: transform .25s ease-in-out;
}

#truck-index-header {
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 2px solid $light-brown;
}

.search-form-container {
  background-color: $white;
  height: 23%;
  margin-bottom: 2%;
  border: 1px solid $dark-brown;
}

#truck-index {
  border: 1px solid $dark-brown;
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 5px;
}

#truck-index ul{
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
  background-color: $white;
}

#truck-index ul .truck:last-child{
  border-bottom: none;
}

// Truck show

#truck-focus{
  width: 48%;
  height: 100%;
  display: flex;
}

#truck-focus-back{
  height: 20px;
  width: 20px;
  background-image: image-url("back.png");
  background-size: cover;
  background-position: center;
  border: none;
  margin-left: 1px;
}

#truck-focus-truck{
  border: 1px solid $dark-brown;
  box-sizing: border-box;
}

#truck-focus-truck .truck{
  border: none;
}

#truck-focus-item {
  width: 100%
}

// Search Form

.search-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#leslie-container {

  display: flex;
  justify-content: center;
  align-items: center;
}

#leslie {
  background-image: image-url("lesliesbrocco.png");
  border-radius: 50px;
  height: 65px;
  width: 65px;
  background-size: cover;
  background-position: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.search-form-food-header {
  margin: 2px;
}

.search-form-input-food {
  margin: 2px;
}

.submit-button {
  border: none;
  background-color: $light-brown;
  width: 181px;
  padding: 4px;
  cursor: pointer;
  transition: background-color .5s ease;
  transition: color .5s ease;
  margin: 2px;
}

.submit-button:hover {
  background-color: $brown;
  color: white;
}

.search-form-input-food {
  width: 177px;
}

// Truck

.truck {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-bottom: 1px solid $dark-brown;
  font-size: .9rem;
}

.truck-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.truck-name-address {
  display: flex;
  flex-direction: column;
}

.truck-name {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 2px;
}

.truck-address {
  color: $brown;
}

.truck-food {
  font-size: .9rem;
}

// Splash

#splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  background-color: $blue;
}

#splash-welcome-container{
  background-color: inherit;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash-welcome {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 4rem;
}

#splash .search-form-container {
  flex-direction: column;
  width: 100%;
  height: 80%;
  border: none;
  background-color: inherit;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}


#splash #leslie {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  margin: 40px;
}

#splash .search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash .search-form-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#splash .search-form-food-header {
  font-size: 2.2rem;
}

#splash .search-form-input-food {
  border: none;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-size: 1.2rem;
}

#splash .submit-button {
  width: 200px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: $dark-brown;
}

#splash .submit-button:hover {
  background-color: $brown;
}

// Responsive

@media only screen and (max-width: 850px) {
  #app-body {
    flex-direction: column;
  }

  #truck-index-container-container{
    width: 520px;
    border: none;
  }

}


// Transitions/animations

.to-fade-in-fast {
  opacity: 0;
  transition: opacity .25s ease-in;
}

.to-fade-in {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.to-fade-in-slower {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.to-fade-in-even-slower {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.to-fade-in-slowest {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

.fade-in{
  opacity: 1;
}

.slide-left {
  transform: translateX(-52%);
  transition: transform .75s ease-in-out;
}

.hide {
  display: none !important;
}
