@import 'reset';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#map-index-container {
  display: flex;
}

#map-container {
  width: 500px;
  height: 500px;
}

.to-fade-in {
  opacity: 0;
  transition: all .5s ease-in;
}

.to-fade-in-slower {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.fade-in{
  opacity: 1;
}

#truck-index {
  width: 350px;
  height: 500px;
}
